body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 300px;
}

.faten-affash {
    color: red;
    font-size: 2rem;
    border: solid black;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.wassup {
    color: orange;
}

.i-put-there-pictures {
color: rgb(27, 126, 52)
}

.rules {
    margin: 0;
}

ul {

}

li {
    margin-left: 20px;
    border-bottom:solid 3px black
}

.no-saving {
font-weight:bold
}

.dont-open {
font-weight:bold
}

.dont-breath-or-die {
font-weight:bold
}

.you-have-to-this {
color:indigo;
font-weight:bold
}

.drown-yourself {
color:indigo;
font-weight:bold
}

.slap-your-mom {
color:indigo;
font-weight:bold
}

.get-hacked {
color:indigo;
font-weight:bold
}

.change-name-button {
    padding: 10px;
    background-color: skyblue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 2px 3px 4px  black;
    cursor: pointer;
}

.change-name-button:hover {
    transform: scale(110%);
}

.input-field {
    width: 40vw;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid green;

}

.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 166, 0, 0.907);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.alert-container > img {
    border-radius: 20px;
}

.hidden {
    display: none;
    transition: 0.5s top;
    top: -10px
}